</style>

<body>
   
    <section id="search">
      <div class="container d-flex justify-content-center">
        <form action="/search" method="GET" class="d-flex py-5" role="search">
          <input class="form-control me-2" type="search" placeholder="Explore more topics!" aria-label="Search" style="width: 400px;">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

     </div>
     
    </section>

    <section id = "posts">

        <div class="container-fluid py-5">
        <div class="row">

              <div class="col-md-12 d-flex align-items-center justify-content-center">
                    <div id="postcontent" class="rounded-5 d-flex flex-column justify-content-center">
                        <h1>Key Pillars for Data Cybersecurity</h1>
                        <h5>20/02/2025, 9:10:32 pm</h5>
                        <p>
                          Experts highlight five essential pillars to enhance data protection in the evolving digital landscape:
                            <ul>
                              <li>Risk Management: Identifying and mitigating potential threats.</li>
                            <li>Artificial Intelligence: Leveraging AI for threat detection and response.</li>
                            <li>Encryption: Ensuring data confidentiality through robust encryption methods.</li>
                            <li>Optimal Cloud Environments: Utilizing secure and efficient cloud solutions.</li>
                            <li>Incident Response: Establishing effective strategies to address and recover from security breaches.</li>
                            </ul>
                        </p>
                        <div class="d-flex justify-content-center align-items-center pt-3">
                          <img src="https://gratisography.com/wp-content/uploads/2024/11/gratisography-augmented-reality-800x525.jpg" class="img-fluid">
                        </div>
                    </div>     
              </div>

              <% posts.forEach( (post, index) => { %>
              <div class="col-md-12 pt-5 d-flex align-items-center justify-content-center" id="post_<%= index %>">

                    <div id="postcontent" class="rounded-5 d-flex flex-column justify-content-center">
                      <h1><%= post.title %></h1>
                      <h5><%= post.date %></h5>
                      <p><%= post.content %></p>
                      <div class="d-flex justify-content-center align-items-center pb-3">
                        <img src="<%= post.image %>" class="img-fluid">
                      </div>

                      <div class="row">
                        <div class="buttons col-md-1">
                          <button class="delete-btn rounded-5" onclick="deletePost(<%= index %>)">
                            Delete
                          </button>
                        </div>
                        <div class="buttons col-md-1">
                          <button class="view-btn rounded-5" onclick="viewPost(<%= index %>)">
                            View
                          </button>
                        </div>
                    </div>
                    </div>     
                  </div>
              <% }); %>
              
        </div>
        </div>

    </section>

</body>
</html>